# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
.ipynb_checkpoints/ADALINE-checkpoint.ipynb
writer/.ipynb_checkpoints/graph_writer-checkpoint.ipynb
writer/__pycache__/graph_writer.cpython-35.pyc
__pycache__/graph_writer.cpython-35.pyc
__pycache__/Perceptron.cpython-35.pyc
.ipynb_checkpoints/Perceptron-checkpoint.ipynb
adaline/.ipynb_checkpoints/ADALINE-checkpoint.ipynb
Perception/.ipynb_checkpoints/Perceptron-checkpoint.ipynb
supportVectorMachine/.ipynb_checkpoints/supportVectorMachine-checkpoint.ipynb
Perception/.ipynb_checkpoints/Perceptron_scikitLearn-checkpoint.ipynb
